<?xml version="1.0" encoding="UTF-8"?>
<!-- We recommend that users (you) copy this "settings.xml" into your "~/.m2"
     folder, or compare and update your existing file. Note that Maven on
     CI/CD (IBP/Jenkins) will still need "-s settings.xml". -->
<settings>
    <servers>
        <!-- Must set the Snapshot or Release credentials as environment variables in order publish to Nexus -->
        <server>
            <id>scm.dev.snap.repo</id>
            <username>${env.NEXUS_SNAPSHOT_REPO_USERNAME}</username>
            <password>${env.NEXUS_SNAPSHOT_REPO_PASSWORD}</password>
        </server>
        <server>
            <id>scm.int.rel.repo</id>
            <username>${env.NEXUS_RELEASE_REPO_USERNAME}</username>
            <password>${env.NEXUS_RELEASE_REPO_PASSWORD}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central-mirror</id>
            <url>https://artifact.intuit.com/artifactory/maven-proxy</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
